@import url('https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300..900&family=Handlee&family=Orbitron:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Science+Gothic:wght@100..900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

.numberPrincipal {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60em;
    height: auto;
    padding: 20px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    margin-top: 20px;

}

h2 {
    margin: 0 20px 0 20px;
    font-size: 4em;
    font-weight: 900;
    font-family: "Orbitron", sans-serif;
}

.fontDigital {
    max-width: 110px;
    min-width: 110px;
    height: 100%;
    padding: 5px;
  margin: 0 5px 0 5px;
    border-radius: 5px;
    border: 2px solid;
    border-color: rgb(43, 42, 42);
    border-style: double;
    
}
.bi.bi-alarm{
 margin: 0 15px 0 15px;
    font-size: 3.2em;
}
.cardInterna{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28rem;
}